nav.header-nav.js-header-nav
    ul.header-nav__list.js-header-nav-list.hide-phone
        li.header-nav__item
            a(href="index.html#benefits").js-menuItem.header-nav__link Преимущества
        li.header-nav__item
            a(href="#").button.--border_white.--border_none.--phone_padding_19.js-open-question Задать вопрос
        li.header-nav__item
            a(href="index.html#training-program").header-nav__link.js-menuItem Программа
        li.header-nav__item
            a(href="index.html#timetable").header-nav__link.js-menuItem Расписание занятий
        li.header-nav__item
            a(href="#").header-nav__link.js-price Стоимость
        li.header-nav__item
            a(href="index.html#our-photo").header-nav__link.js-menuItem Фото
    .header-nav__item.--phone
        a(href="tel:+79223308875").phone +7 (922) 33 0 88 75
    .header-nav__item.--menu-button.hide.show-phone
        a(href="#").button.--border_white.js-menu-button Меню