section.it-kids
    .container
        .info
            .info__text-box
                .info__title
                    h2.title Школа компьютерной грамотности и программирования «IT-Kids»
                .info__text Научим детей проводить время за компьютером с пользой.
                .info__button-box
                    a(href="quiz.html").button.--bgc_orange Записаться на занятия
            .info__image-overlay.--yellow
                img.info__image(src="/images/image1.png", alt="IT-Kids")