.modal {

    display: none;    

    &__overlay{

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $top;
    }

    &__container {

        background-color: $beige;
        width: 920px;
        border-radius: $border-radius;    
        box-sizing: border-box;
        padding-left: 60px;
        padding-bottom: 60px;
        padding-top: 60px;

        &.--info{
          background-color: $yellow;
        }

        @include small-desktop{
          width: 90%;
        }

        @include phone{
          width: 90%;
          padding: 10px;
          border-radius: 10px;
        }

      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 30px;

        @include phone{
          margin-bottom: 10px;
        } 

    }

      &__content{    

          padding-right: 300px;

          &.--info{
            min-height: 300px;
          }

          @include phone{
            padding-right: 0px;
          }

      }

      &__title {

        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        color: $text-color;
        
        @include phone{
          font-size: 20px;
        }

      }

      &__close {
        background: transparent;
        border: 0;
        position: absolute;
        top: -50px;
        right: 20px;
        font-size: 40px;
        color: white;
        cursor: pointer;
        z-index: $top;

        &:focus{
          border: none;
          outline: none;
        }

        @include phone{
          top: -15px;
          right: -5px;
        }     

      }

      &__btn {

        font-size: .875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: #e6e6e6;
        color: rgba(0,0,0,.8);
        border-radius: .25rem;
        border-style: none;
        border-width: 0;
        cursor: pointer;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
        line-height: 1.15;
        margin: 0;
        will-change: transform;
        -moz-osx-font-smoothing: grayscale;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: -webkit-transform .25s ease-out;
        transition: transform .25s ease-out;
        transition: transform .25s ease-out,-webkit-transform .25s ease-out;

      }

      &__btn-primary {

        background-color: $base-color;
        color: #fff;

      }

      &__img{

          position: absolute;
          bottom: 0;
          right: -20px;
          
          @include phone{
            display: none;
          }

      }
    
}

  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }  
  
 @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }