$base-font-size: 18px;
$main-font-family: 'Montserrat', sans-serif;
$border-radius: 50px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width : 1400px;

//Цвета
$base-color: #195A9E;
$text-color: #212121;
$dark-gray: #353535;
$light-gray: #959C9F;
$milk-gray: #F4F4F4;
$disabled-text: #7B7B7B;
$footer-border: #424242;
$yellow: #FCE116;
$orange: #F18E38;
$beige: #FFCBB3;
$blue: #44A5CF;
$black: #353535;


////////z-index
$top: 999;